

$primary-color: #AE1C1F;
$primary-color-light: #fbf4f4;
$text-color: #333;
$secondary-color: #000;
$secondary-color-light: #f0f0f0;
$tertiary-color: #666;
$gray-color: #e0e0e0;
$gray-color-light: #e2e2e2;
$gray-color-lighten: #f2f2f2;
$gray-color-dark: #333;
$gray-color-darken: #545454;
$dimgray-color: #6e6d72;
$silver-color-light: #f5f5f5;
$cyan-color-light: #e1ecef;
$unlink-color: inherit;
$black-color: #000;
$white-color: #fff;

$facebook-color: #4f6197;
$facebook-color-hover: #5d6e9f;
$twitter-color: #70b8f0;
$twitter-color-hover: #7bbef1;

$bg-primary: #AE1C1F;
$bg-primary-light: #fbf4f4;
$bg-secondary: #000;
$bg-secondary-light: #f0f0f0;
$bg-gray: #e0e0e0;
$bg-gray-light: #e2e2e2;
$bg-gray-lighten: #f2f2f2;
$bg-gray-dark: #333;
$bg-gray-darken: #545454;
$bg-dimgray: #6e6d72;
$bg-silver-light: #f5f5f5;
$bg-white: #fff;
$bg-white-op-75: rgba(255,255,255,0.75);
$bg-white-op-50: rgba(255,255,255,0.5);
$bg-success: #dff0d8;
$bg-danger: #f2dede;
$bg-info: #d9edf7;
$bg-warning: #fcf8e3;
$bg-light-cyan: #e1ecef;