.button-primary {
  @include button($white-color, $primary-color);
}

.button-text {
  @include button($primary-color, transparent);

  width: fit-content;
  justify-content: end;
  padding: 0 !important;
}

@media screen and (max-width: $breakpoint-xs) {
  .button-primary {
    p {
      display: none;
    }
  }
}