.slider {
  background-color: $gray-color-dark;
  
  .slider-item {
    .slider-item-content {
      .slider-item-content-text {
        width: 500px;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .slider {
    height: 200px;
    .slider-item {
      .slider-item-content {
        padding: 10px 20px;
        .slider-item-content-text {
          width: 300px;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .slider {
    .slider-item {
      .slider-item-content {
        padding: 0;
        .slider-item-content-text {
          font-size: 16px;
        }
      }
    }
  }
}