.topbar {
  transition: display 2s ease-in-out;

  div:has(> a#top-toggler) {
    display: none;
  }

  .top-social-icon {
    i {
      color: $white-color;
    }
  }

  #searchbar {
    min-width: 141px;
    gap: 20px;

    .input-container {
      width: 100%;
      border-radius: 4px;
      border: none;
      padding: 0 7px;
      background: $white-color url('../../assets/icons/icon--search-black.svg') no-repeat right 4px top 3px;
      background-size: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 15px;
      color: $gray-color-dark;
      font-size: 12px;
    }
  }
}

/* MD breakpoint */
@media screen and (max-width: $breakpoint-md) {
  .topbar {
    min-height: 36px;
    height: fit-content !important;

    div:has(> a#top-toggler) {
      display: flex;

      i {
        -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
      }
    }
  
    .top-navigation {
      display: none;
      flex-direction: column;

      #searchbar {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .input-container {
          border-radius: 50px;
        }

        form {
          width: 100%;
        }
  
        input {
          width: 100%;
        }
      }
    }
  }
}