* {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $gray-color-dark;
}

h2 {
  font-size: 1.875rem !important;
  font-weight: 600 !important;
  line-height: 36px;
  text-transform: capitalize;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  line-height: 29px;
  text-transform: uppercase;
}

.container {
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.bg-secondary {
  background-color:  $bg-secondary;
}


.text-highlight {
  color: $primary-color;
}

.logo {
  width: 275px;
  height: 75px;
}

@media (min-width: 1200px) {
  .logo {
    width: 180px;
    height: 50px;
  }

  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}