.content-home {
  width: 100%;

  .lang-levels {
    li {
      cursor: pointer;

      background: $gray-color-lighten; 

      border-radius: 6px;

      align-self: center;
      
      padding: 20px;

      color: $gray-color-dark;
      font-size: 2.375rem;
      font-weight: 700;
      line-height: 29px;
      text-transform: uppercase;
    }
    
  }
}