.featured {
  background-color: $gray-color-lighten;
  gap: 20px;

  .featured-item {
    width: 100%;
    gap: 20px;
  }  
}

@media screen and (max-width: $breakpoint-lg) {
  .featured {
    padding: 1.25rem 0;

    
  }
}

