.methodology {

  background-color: $gray-color-lighten;

  .methodology-card {
    width: 420px;
    padding: 40px 20px;
    gap: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .methodology-card-img {
      height: 70px;
    }

    p {
      text-align: center;
    }


    .methodology-card-title {
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 30px;
    }
  }

}


/* XL breakpoint */
@media screen and (min-width: 1200px) {
  .methodology-card {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 20px;

    .methodology-card-img {
      height: 3rem;
    }
  }

}

/* MD breakpoint */
@media screen and (min-width: 768px) {

  // .methodology {
  //   ul {
  //     flex-direction: column;
  //     width: 100%;
  //   }
  // }
  
}