#methodology {

  background-color: $gray-color-lighten;

  // ul {
  //   display: flex;
  //   justify-content: center;
  //   gap: 20px;
  //   padding: 40px 0;
  // }

  .methodology-card {
    width: 100%;
    padding: 40px 20px;
    gap: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .methodology-card-img {
      height: 70px;
    }

    p {
      text-align: center;
    }


    .methodology-card-title {
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 30px;
    }
  }

}


@media ($breakpoint-md <= width <= $breakpoint-lg) {

  .methodology-card {
    max-width: 300px;

    .methodology-card-img {
      height: 3rem;
    }
  }
}

@media ($breakpoint-sm <= width <= $breakpoint-md) {

  .methodology-card {
    width: 100px;

    .methodology-card-img {
      height: 3rem;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {

  .methodology-card {
    width: 100%;

    .methodology-card-img {
      height: 3rem;
    }
  }
}
